@import './variables.scss';



main {
    color:#ffffff;
    margin-top:0.25rem;
    .second-section {
        display: flex;
        gap: 1rem;

    .nft-bridge-card {
      

        .bridge-content {
            display: flex;
            gap: 1rem;

            .left-panel {
                position: relative;

                .reserve-text {
                    position: absolute;
                    left: 20%;
                    top: 10%;
                    transform: translate(-50%, -50%);
                    font-size: 16px;
                    font-family: 'COURIER PRIME';
                }
            }

            .right-panel {
                width: 70%;
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .right-panel-header {
                    display: flex;
    
                    justify-content: space-between;
                    border: 1px transparent;
                    border-radius: 2.5rem;
                    padding: 0.5rem;
                    background-color: $secondary-bg-color;
                    gap: 1rem;
                    font-size: 14.8px;

                }

                .data-container {
                    gap: 1rem;
                    display: flex;
                    flex-direction: column;
                    height: 180px;
                    max-height: 200px;
                    overflow-y: scroll;
                }

                .data {
                    display: flex;
                    justify-content: space-between;
                    padding: 0.25rem;

                    .borrow-apr {
                        color: #6d6d6d;
                    }

                    .percent-text {
                        font-family: "Poppins";
                    }
                }
            }
        }
    }

    .risk-factor {
        .risk-factor-content {
            background-color: $secondary-bg-color;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 0.5rem;
            border-radius: 0.75rem;
            height: 240px;
            overflow-y: scroll;

            .row-data {
                display: flex;
                justify-content: space-between;
                padding: 0.25rem 0.25rem;

                .nft-details {
                    display: flex;
                    gap: 1rem;
                }

                img {
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                }

                .risk-factor-id {
                    color: #737373;
                }

                .risk-factor-value {
                    display: flex;
                    gap: 0.25rem;
                    align-items: center;
                    justify-content: flex-end;

                    .black-dot {
                        width: 15px;
                        height: 15px;
                        border-radius: 100%;
                        background-color: #474747;
                    }
                }
            }

        }
    }
}
.collection-sections{
    display: flex;
    gap: 1rem;
}
}