.css-rr7dug-MuiDivider-root {
	border: none !important;
	margin-bottom: 2rem !important;
}

.css-a2rad9-MuiDrawer-docked .MuiDrawer-paper {
	overflow: hidden;
}

@media (min-width: 600px) {
	.css-1k455el {
		min-height: 100px !important;
	}
}

.active-menu-item {
	background-color: $primary-text-color !important;
	height: 3.125rem;
	width: 3.125rem;
	align-items: center;
	border-radius: 1rem;
}

.menu-icon-wrapper:hover {
	background-color: rgba(255, 255, 255, 0.08);
	height: 3.125rem;
	width: 3.125rem;
	align-items: center;
	border-radius: 1rem;
}

.MuiListItemButton-root:hover {
	background-color: inherit !important;
}
