// Background Colors
$body-bg-color: #242424;
$primary-bg-color: #161717;
$secondary-bg-color: #222222;
$primary-light-bg-color: #161717;
$secondary-light-bg-color: #929292;

// Text colors
$primary-text-color: #ffffff;
$secondary-text-color: #a7a7a7;
$secondary-text-color-light: #a5a5a5;
$dark-text-color: #000000;
$grey-text-color: #6d6d6d;
$small-grey-text-color: #737373;
$avatar-text-color: #c4c4c4;
$green-text-color: #5a9535;
$red-text-color: #f62525;

// Chip colors
$chip-text-color: #515151;
