.details{
   background:linear-gradient(180deg, #171717 -38.55%, rgba(157, 157, 157, 0.28) 28.64%, rgba(0, 0, 0, 0) 100%);
    height: 85px;
    border-radius: 0.75rem;
    padding: 1rem;
}
.stake-btn{
    margin-top: 1rem;
    text-align: center;
}