@import './styles/variables.scss';

body {
	margin: 0;
	padding: 0;
	background-color: #252525 !important;
}

.main-component {
	width: 100vw;
	height: 100vh;
	overflow: auto;
	background-color: $body-bg-color;
	padding: 1.5rem;
}
